#main{
    margin: auto ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    flex-direction: column;
    height: 100vh;
   
}
#kilo{
    border: solid 1px blue ;
}
#border{
    box-shadow: 0px 2px 6px 4px #333;
}

#result{
    border-radius: 5px;
    
    padding: 5px;
    font-weight: 800;
    text-align: center;
}

body{
    background-color: bisque;
}

.img{
    text-align: center;
    border-radius: 30%;
    border: solid 4px #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    flex-direction: row-reverse;
    border-bottom: solid 1px #333;
    width: 50%;
    
}

#alert{
    display: none;
    
    
}